/*=============== BUTTONS ===============*/
.button,
.btn-primary {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
    cursor: pointer;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.button:hover,
.btn-primary:hover {
    background-color: var(--first-color-alt);
}