/*=============== LOGOS ===============*/
.logos.section {
  padding: 2rem 0;
}

.logos__container {
  padding-top: 0;
  overflow: hidden;
}

.logos__img img {
  height: auto;
  display: block;
  margin: 0 auto;
}

/*=============== BREAKPOINTS ===============*/
/* CSS fixed heights removed to allow inline dynamic sizing from React */